@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}
button {
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}


.wave-container svg {
  display: block;
  position: relative;
}
:root{
  color-scheme: dark;
}
