/* Hero section content animation */
.heroSectionContent {
  animation: fadeIn 2s ease-in-out;
}

/* Hero title with shadow effect */
.heroTitle {
  letter-spacing: -1px;
  line-height: 1.2;
  transition: transform 0.3s;
  display: inline;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.5); /* Stronger text shadow effect */
}

.heroTitle:hover {
  transform: scale(1.05);
}

/* Hero description with shadow effect */
.heroDescription {
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.5); /* Stronger text shadow effect */
}

/* Hero button styling */
.heroButton {
  background-color: #6b46c1;
  border-radius: 0.5rem;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
  font-weight: 700;
  margin-right: 16px;
}

.heroButton:hover {
  background-color: #553c9a;
  transform: scale(1.05);
}

/* Video container styling */
.videoContainer {
  position: relative;
  width: 33.33%;
  height: auto;
  padding: 2px; /* Adjust the padding to create space for the border */
  background: linear-gradient(45deg, #8833d1, #4d0e84); /* Gradient border */
  border-radius: 8px; /* Match the border radius */
  margin-right: 30px;
}

.videoContainer video {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px; /* Adjust this if needed */
  position: relative;
  z-index: 1; /* Ensure video is above the gradient background */
}
/*Media Queries for Responsiveness */
@media (max-width: 768px) {
  .heroSectionContent {
      justify-content: flex-start;
      padding-top: 80px; /* Adjust as needed for spacing */
  }
}

@media (max-width: 480px) {
  .heroTitle {
      font-size: 3.5rem;
      line-height: 1;
      margin-top: 0%;
  }

  .heroDescription {
      font-size: 0.8rem;
      line-height: 0.5;
  }

  .heroButton {
      padding: 0.9rem 1.2rem;
      font-size: 1rem;
      margin-top: 0%;
  }
  .videoContainer {
    position: relative;
    width: 100%;
    height: auto;
    margin-right: 5px;
  }
  
  .videoContainer video {
    display: block;
    width: 400px;
    height: 180px;
    bottom: 2rem;
    border-radius: 8px; /* Adjust this if needed */
    position:absolute;
    z-index: 1; /* Ensure video is above the gradient background */
  }
}